  		
  		
  		<h4><span class="icon-caret-down "></span> <%= faq.title %>  </h4>  
  		
	 
 <div>
 <p> 
	 
	 <%= faq_markdown(faq.the_answer) %> 
 
 
 </p> </div>

<% if user_signed_in? %>
						 
						 	<% if can? :edit, :abouts  %>

 <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_faq_path(faq), :class => 'btn
        btn-mini  btn-mini-flat' %> <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        faq_path(faq), :method => :delete, :data => { :confirm => t('.confirm', :default =>
        t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini
        btn-danger  btn-mini-flat' %>
		<br>
		<% end %>
			<% end %>

 <br>
