<li class="span2">  
		         <div class="thumbnail center"> 
					 
					  
					 
					 	<% if bulletin.image_processed? %>
		           	<%= link_to image_tag(bulletin.bulletin_image_url(:thumb), :class =>"img-rounded" ), bulletin_path(bulletin) %> 
					 <% else %> 
				    <em>Processing...</em>
				  <% end %> 
					 
		           <div class="caption">  
		             	<h5><%= bulletin_name(bulletin) %> </h5>  
						<% if user_signed_in? %>
						Add code to show only when right person or higher
			            <%= link_to t('.edit', :default => t("helpers.links.edit")),
			                        edit_bulletin_path(bulletin), :class => 'btn btn-mini-flat' %>
			            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			                        bulletin_path(bulletin),
			                        :method => :delete,
			                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			                        :class => 'btn btn-mini-flat btn-danger' %>
	  				  <% end %> 
					  
					  
					  
		           </div>  
		         </div>  
</li>
 