<div class="form-actions">
  <h2>Bulletin Setup</h2> <h4>Step 1</h4> 
 
  ** PDF ONLY
<%= direct_upload_form_for @uploader do |f| %>
  <p><%= f.file_field :bulletin_image %></p>
  <p><%= f.submit "Upload PDF", :class => "btn btn-success btn-flat" %></p>
<% end %>


</div>