<div class="form-actions">
  <h2>Upload an Event Picture</h2> <h4>Step 1</h4> 
 652x484
	
	
<%= direct_upload_form_for @uploader do |f| %>
  <p><%= f.file_field :event_image %></p>
  <p><%= f.submit "Upload Picture", :class => "btn btn-success btn-flat" %></p>
<% end %>


</div>