<div class="row">
 <div class="span10 pull-center">
   
  <%= display_event_picture(@event) %>
  <br>
  <% if user_signed_in? %>
  <% if can? :edit, :events %>
<% if @event.event_pictures.present? %>
<% for event_picture in @event.event_pictures %>
 
	 <%= link_to t('.destroy', :default => t("helpers.links.Remove Picture")),
              event_picture_path(event_picture),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat' %>
		 
<% end %>
<% else %>

 <%= link_to t('.picture', :default => t("helpers.links.Add a Picture")),
               event_pictures_step_1_path(:event_id => @event), :class => 'btn btn-flat btn-success'  %>

<% end %>



<% end %>
  <% end %>

</div>
</div>
 