 
<div class="row">
	<% unless @ministry.ministry_children.empty? %>
 
 <% @ministry.ministry_children.each do | ministry_child | %>
 <div class="span4">

	<div class="form-actions">
	<p><h5><%= ministry_child.name %></h5></p>
		<%= display_ministry_child_picture(ministry_child) %>
 
</div>


 </div>

<% end %>
 

<% end %>
</div>
 
<%= link_to t('.picture', :default => t("helpers.links.Add a New Ministry for #{@ministry.name}")),
              new_ministry_child_path(:ministry_id => @ministry), :class => 'btn btn-mini-flat btn-success'  %>

 