<div class="row">
 <div class="span10 pull-center">
   

<% if @ministry.ministry_pictures.present? %>
<% for ministry_picture in @ministry.ministry_pictures %>
<% if ministry_picture.image_processed? %>
    <%= image_tag(ministry_picture.ministry_image_url(:main), :class =>"img-rounded" ) %>
  <% else %>
    <em>Processing...</em>
  <% end %>
  <% if user_signed_in? %>
  <% if can? :edit, :ministries %>
  
	 <%= link_to t('.destroy', :default => t("helpers.links.Remove Picture")),
              ministry_picture_path(ministry_picture),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat' %>
			  <% end %>
			  <% end %>
			  
<% end %>

<% else %>
<% if user_signed_in? %>
<% if can? :edit, :ministries %>
 <%= link_to t('.picture', :default => t("helpers.links.Add a Picture")),
               ministry_pictures_step_1_path(:ministry_id => @ministry), :class => 'btn btn-flat btn-success'  %>
<% end %>
<% end %>
<% end %>
</div>
</div>