<div class="row">
 <div class="span10 pull-center">
   
  <%= display_life_pulse_picture(@life_pulse) %>
  <br>
  <% if user_signed_in? %>
  <% if can? :edit, :life_pulses %>
<% if @life_pulse.life_pulse_pictures.present? %>
<% for life_pulse_picture in @life_pulse.life_pulse_pictures %>
 
	 <%= link_to t('.destroy', :default => t("helpers.links.Remove Picture")),
              life_pulse_picture_path(life_pulse_picture.id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat' %>
		 
<% end %>
<% else %>

 <%= link_to t('.picture', :default => t("helpers.links.Add a Picture")),
               life_pulse_pictures_step_1_path(:life_pulse_id => @life_pulse.id), :class => 'btn btn-flat btn-success'  %>

<% end %>



<% end %>
  <% end %>

</div>
</div>
 