 



 <% provide(:title, "E Giving") %>
<div class="Row">
	<div class="span10">


<div class="mission_bg img-rounded ">
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">E Giving</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 <hr class="round_line_hoz2 " /> 
 
 
 
 <div class="span9">
	 <br>
 <p>
 	Giving online is a great way to share your blessings and support Jesus’ work through Life Church.  We are happy to provide you with an easy and convenient way in which to give by credit card. You can use your Visa or MasterCard to:</p>
 <p>
	
 	<ul>
 	  <li>Give your regular tithes and offerings</li>
 	  <li>Financially support our local and global mission programs</li>
 	  <li>Donate to our building fund</li>
 	  <li>Make a one-time pledge</li>
 	  <li>Contribute towards Life Christian Academy’s scholarship fund</li>
 	</ul>
 
 </p>
 <p>	We will use your generous gift to forward the gospel and to glorify Christ’s name throughout this land.  In Jesus’ name we thank you!
	
 </p>
</div>
 <%= render :partial => 'form' %>

</div>
</div> <!-- Span-->

<div class="span1">
 <%= render :partial => 'abouts/side_buttons'%>
      
</div>
</div> <!-- Row-->