 <h2>Web Site Setup</h2> 
 <div class="container">
 
<table class="table table-striped">

  <tbody>
  <tr>	     
  <th>
	<h3>General Church Info Setup:</h3> 
<div class="row">



 
	</p>

  </div>
 



</div>
  
	 
</th>
</tr>
 <tr>     
<th>
</th>
</tr>
  
</td>
</tr>
</table>

