<div class="row">
 <div class="span4">
   

<% if @church_staff.church_staff_pictures.present? %>
<% for church_staff_picture in @church_staff.church_staff_pictures %>
<% if church_staff_picture.image_processed? %>
    <%= image_tag(church_staff_picture.staff_image_url(:thumb), :class =>"img-rounded" ) %>
  <% else %>
    <em>Processing...</em>
  <% end %>

	 <%= link_to t('.destroy', :default => t("helpers.links.Remove Picture")),
              church_staff_picture_path(church_staff_picture),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat' %>
<% end %>

<% else %>
<img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"  alt="" class="img-rounded">
 

 <%= link_to t('.picture', :default => t("helpers.links.Add a Picture")),
               church_staff_pictures_step_1_path(:church_staff_id => @church_staff), :class => 'btn btn-flat btn-success'  %>

<% end %>
</div>
</div>