<div class="row">
 <div class="span4">
   

<% if @sermon.sermon_pictures.present? %>
<% for sermon_picture in @sermon.sermon_pictures %>
<% if sermon_picture.image_processed? %>
    <%= image_tag(sermon_picture.sermon_image_url(:main), :class =>"img-rounded" ) %>
  <% else %>
    <em>Processing...</em>
  <% end %>

	 <%= link_to t('.destroy', :default => t("helpers.links.Remove Picture")),
              sermon_picture_path(sermon_picture),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat' %>
<% end %>

<% else %>
<img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"  alt="" class="img-rounded">
 

 <%= link_to t('.picture', :default => t("helpers.links.Add a Picture")),
               sermon_pictures_step_1_path(:sermons_id => @sermon), :class => 'btn btn-flat btn-success'  %>

<% end %>
</div>
</div>