<div class="side_event_top">
 <table  border="0" cellspacing="0" cellpadding="0" class="table_event">
  <tbody>
 	<% @side_events = @events.limit(3) %>
 	<% @side_events.each   do |event| %>	 
	<tr>
<td>
  <%= display_sidebar_event_picture(event) %>
 
</td>
	
 
		</tr>
			<% end %>
	 </tbody>
		</table>
		 
	</div>
