<li class="span2">  
		         <div class="thumbnail center"> 
					  
		            <%= @what_we_believe.what_we_believe %>
	 
		           <div class="caption">  
		           
					 <% if can? :edit, :abouts %>
				 
			            <%= link_to t('.edit', :default => t("helpers.links.edit")),
			                        edit_what_we_beliefe_path(@what_we_beliefe), :class => 'btn btn-mini-flat' %>
			            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			                        what_we_beliefe_path(@what_we_beliefe),
			                        :method => :delete,
			                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			                        :class => 'btn btn-mini-flat btn-danger' %>
									
									
							 
	  		 <% end %> 
				   </div>  
		         </div>  
</li>