 <% provide(:title, "Become a Believer") %>
  
<div class="Row">
	<div class="span10">


<div class="mission_bg img-rounded ">
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">Become a Believer</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
<div class="row">
<div class="span10 text-center ">
	<br>
<p class="italic_text text-center span9">
We are happy you chose to investigate what it takes to become a Christian.  Misunderstandings certainly
do abound concerning what it means to be a Christian. Some people believe simply being born into a 
Christian family makes you a Christian.  Others think that being a Christian means having to rigorously 
follow a set of prescribed ethical rules or laws.  Many would consider themselves Christian simply 
because they believe God exists.  The truth is, none of these things make you a Christian.  Let’s look at  
what the Bible has to say on the matter, beginning with the problem at hand.


</p>

 
 <br>
 <section  class="bookmark" id="Simple">
 <p >  
					<br>
						<br>
						<br>
						 
					 </p><br>
					 
 			
	<div class="round_line_hoz2  "> </div> 
	<br>
 
 <div class="span10">
	 
  <br><br>
  <section  id="the_problem">
  <div class="ministry_text verticalLine "> 
	  
	  <p>
	<strong>  The Problem </strong><br>
	  Most human beings like to sort things into nice, neat categories to help us understand the world 
	  around us.  For example we often divide people into two groups – those who are ‘good’ and those 
	  who are ‘bad’.  Of course, the standards by which we judge good versus bad conveniently place us 
	  in the ‘good’ category.  We are good(ish), but the guy who intentionally cut us off in traffic - he is bad.
<br>
<br>
	  While we might define good on a sliding scale, God measures things according to a very different 
	  standard – perfection (Matt 5:48).  When the standard for ‘good’ is perfection there is no chance 
	  anyone will ever be judged as ‘good’ (Mark 10:18, Romans 3:10).  The Bible says in Romans 3:23, "For 
	  all have sinned and come short of the glory of God." This means God calls every person who has ever 
	  lived a sinner, and the Bible tells us that any sin separates us from God (Isaiah 59:2).  Compounding 
	  our predicament is the fact that God is a perfectly just judge, and the mandatory sentence for sin happens 
	  to be death (Romans 6:23).  No matter how we might identify ourselves, in God’s eyes we are all sinners, and our sin is worthy of judgment. This is a BIG problem.
	  
	  </p>
	  
 
 
 </div>
</section>
  <br><br>
  <section  id="the_solution">
    <div class="ministry_text verticalLine "> 
  
  	  <p>
  	<strong>  
 	The Solution</strong><br>
 	You might think it reasonable, as many do, that you could fix this problem and make things right just by 
 	doing more good things.  Here is the logic: “If I do more good things than I do bad ones, the balance on 
 	the scales of justice will fall in my favour, and God will receive me.”  However, if perfection is, in fact, the 
 	standard, you will never measure up - no matter how many good deeds you do.  The Bible puts this 
 	argument to rest by informing us that even the very best of our good deeds are tainted, just like dirty filthy 
 	rags (Isaiah 64:6).  This would leave us in the most desperate and hopeless of situations if it wasn’t for some 
 	wonderfully good news.  God loves us!
 <br><br>
 	“For God so loved the world, that he gave his only Son, that whoever believes in him should not perish but 
 	have eternal life.”  Those are the words found in the most Googled Bible verse of all time - John 3:16.  God 
 	loves us, and has demonstrated His love toward us by sending His Son to die and pay the penalty for our sins.  
 	He received our punishment, and He died on our behalf.  He didn’t do this because we deserved or earned 
 	it - far from it (Titus 3:5).  Instead, while we were still sinners deserving of judgment, He freely sent His Son to 
 	willingly die for us (Rom 5:6-10, Ephesians 2:8-9).  This is love on the grandest of scales, and is the solution to 
 	our sin problem.
  	  </p>
  


   </div>
 
</section>
  <br><br>
  <section  id="my_response">
    <div class="ministry_text verticalLine "> 
	  
  	  <p>
  	<strong>  
  
	My Response</strong><br>
	If God freely satisfied justice and took upon Himself our punishment, what is there left for us to do?  Mark 1:15 
	says it best, “Repent and believe in the gospel.”  Our response to His free gift is to believe in what God has 
	done, and to repent of our sins.  Believe that we are sinners, and that Jesus freely absorbed all our sin and 
	punishment.  Repent, which is to turn away from our sin and turn to God.  Repentance and faith go hand in hand.<br><br>

	So how do we take the first steps of repentance and faith?  First you need to know it is God who gives you faith to 
	believe, and it isn’t something you need to manufacture  (Ephesians 2:8-9, Romans 12:3).  However, faith is made 
	evident by our words and our actions.  Romans 10:9-10 says, “If you confess with your mouth, “Jesus is Lord,” and 
	believe in your heart that God raised Him from the dead, you will be saved. One believes with the heart, resulting in 
	righteousness, and one confesses with the mouth, resulting in salvation.”  We can take our first steps of repentance 
	and faith by praying to God.  Once we start the journey God is always faithful to carry us through to the end 
	(Philippians 1:6).  Here is a sample prayer you could pray:
  </p><p class="italic_text"><br><br>
	"Lord Jesus, I know that I am a sinner deserving of punishment. However, I believe You died on the cross 
	and paid the punishment for my sin.  I also believe You rose from the grave to make me a new creation and 
	have prepared for me a place in your presence forever. Jesus, come into my life, take control of my life, 
	forgive my sins and save me. I am now placing my trust in You alone for my salvation and I accept your free 
	gift of eternal life."
  	  </p>
	  
 
 
   </div>
   </section>
     <br><br>
     <section  id="am_i_ready">
   
      <div class="ministry_text verticalLine "> 
	  
    	  <p>
    	<strong>   Am I Ready? </strong><br>
Here are some questions you can ask yourself to know if you are ready to take the first steps of repentance and faith:
<br><br>
1)   Do I understand and believe that I have sinned and that my sin makes me worthy of God’s judgment?<br>
2)   Do I understand and believe that Jesus took the full punishment for my sin upon Himself by dying in my place?<br>
3)   Do I understand and believe that Jesus was raised from the dead and is Lord of all?<br>
4)   Am I ready to surrender control of my life to Jesus, and confess He is Lord and Savior of my life?
<br><br>
If the answer to these four questions is ‘yes’, you are truly ready to respond to God’s invitation to repent and believe.   
    	  </p>
	  
 
 
     </div>
   </section>
 <br><br>
 
  
    </div>
 
 
 
 
 
 
 
 
 
 
   </div>
 
 
 
 </div>
 

</div>
</div> <!-- Span-->

<div class="span1">
 <%= render :partial => 'side_buttons'%>
      
</div>
</div> <!-- Row-->
