 
<div class="row">
  <div class="span9">
    Level 1 column
    <div class="row">
      <div class="span6">	 <%= render :partial => 'carousel' , :picture => @events %> </div>
      <div class="span3"><%= render :partial => 'side_event' , :picture => @events %></div>
    </div>
  </div>
</div>
  