 
 
  
    <div class="row-fluid">
      <div><%= render :partial => 'carousel' , :picture => @events %></div>
      <div><%= render :partial => 'side_event' , :picture => @events %></div>
      <div><%= render :partial => 'side_social_media' , :picture => @abouts %></div>
    </div>
 
 
  