<div class="Row">
	<div class="span10">


<div class="mission_bg img-rounded ">
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">Privacy</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 <hr class="round_line_hoz2 " /> 
 
 <br>
 
 


</div>
</div> <!-- Span-->

<div class="span1">
 <%= render :partial => 'side_buttons'%>
      
</div>
</div> <!-- Row-->