<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>LifeChurch E Giving</title>

</head>
<body>
	


<p>Hello <%= @egiving.first_name %> <%= @egiving.last_name %> ,</p>

<p>LifeChurch has just received your gift.  Thank you!</p>



<p>E Giving WebSite</p>
<%= image_tag( attachments['LifeLogo.png'].url, :id => 'LifeLogo', :width => "195", :height => "45") %>





</body>
</html>