 <div class="navbar navbar-static-bottom   ">
	 <div class="pull-center">
   <div class="nav nav-pills muted credit pull-center">
      <li><%= link_to "Please click here for Technical Support", contact_tech_path %></li>
 
       <li><%= link_to "#{DateTime.now.strftime("%Y")} LifeChurch International", contact_tech_path %></li>
 
    </div>
</div>
</div>


 